{% extends 'base.html.twig' %}

{% block title %}
	A propos de nous
	{{ parent() }}
{% endblock %}

{% block body %}

	<main
		id="main">

		<!-- ======= Breadcrumbs ======= -->
		<section id="breadcrumbs" class="breadcrumbs">
			<div class="container">

				<div class="d-flex justify-content-between align-items-center">
					<h2>
						EMERGENCE ET ACTUALISATION
					</h2>
					<ol>
						<li>
							<a href=" {{path("index")}} ">
								Accueil
							</a>
						</li>
						<li>
							A propos de nous
						</li>
					</ol>
				</div>

			</div>
		</section>
		<!-- End Breadcrumbs -->

		<!-- ======= About Us Section ======= -->
		<section id="about-us" class="about-us">
			<div class="container" data-aos="fade-up">

				<div class="row content">
					<div class="col-lg-6" data-aos="fade-right">
						<h2>
							NOTRE MISSION
						</h2>
						<h5>{{parametres.mission | raw}}</h5>
					</div>
					<div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
						{{parametres.apropos | raw}}
					</div>
				</div>

			</div>
		</section>
		<!-- End About Us Section -->

<!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">
<div class="section-title">
          <h2>TEMOIGNAGES</strong></h2>
        </div>
        <div class="row">
{% for tem in tem if tem.active %}
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="{{loop.index0 * 100}}" >
            <div class="testimonial-item mt-4">
              <img src="{{ vich_uploader_asset(tem, 'imageFile') | imagine_filter ('profil') }}" class="testimonial-img" alt="">
              <h3>{{tem.nom}}</h3>
              <h4>{{tem.profession}}</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{tem.temoignage|truncate(300, true, " ... ") | raw}}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
{% endfor %}
          </div> 

        </div>

      </div>
    </section><!-- End Testimonials Section -->

	<!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>FAQ</h2>
        </div>

        <div class="faq-list">
          <ul>
		  
		  {% for faq in faq if faq.active %}
          <li data-aos="fade-up" data-aos-delay="{{loop.index0 * 100}}">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-{{loop.index}}" class="collapsed">{{faq.question}} <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-{{loop.index}}" class="collapse" data-parent=".faq-list">
                <p>
                  {{faq.reponse}}
                </p>
              </div>
            </li>
			{% endfor %}
            

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->
	
	</main>
	<!-- End #main -->

{% endblock %}
